{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="border-bottom mb-4 d-flex justify-content-between align-items-center">
        <h5>Benvenuto, <strong>{{ current_user.username }}</strong></h5>
        
        <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-outline-danger">Esci</a>
    </div>
    {#migliorare#}
    <div>
        
        <h4>Nessun dataset trovato</h4>
        <p>Carica un file per iniziare l'analisi.</p>
        
        <form class="mt-4">
            <input type="file" class="form-control mb-2">
            <button type="submit" class="btn btn-primary">Carica Dataset</button>
        </form>

    </div>
{% endblock %}