{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{# vedi come usare macro (attenzione a non dimenticare with context per gli import) e call per evistare di scrivere sempre le stesse cose
    soprattuto per quanto riguarda i form e utile
    
    vedi come gestire i default
    
    Formattazione: filesizeformat, round, batch
    
    Trasformare Liste in Stringhe con join
    
    Se non capisci cosa c'è dentro una variabile che ti arriva da Flask, usa questo nel template: {{ variabile | pprint }}#}

{% block body %}
<div class="content">
    <h1>Benvenuto nel portale valutazioni</h1>
    <p>Strumento per l'analisi dei report annuali degli studenti.</p>
    <a href="{{ url_for('auth.login') }}">Accedi</a>
    <a href="{{ url_for('auth.register') }}">Registrati</a>
</div>
{% endblock %}