/* Manteniamo solo ciò che Bootstrap non può fare nativamente */

.materia-card {
    transition: transform 0.2s ease-in-out;
}

/* L'effetto di sollevamento quando passi il mouse sulla card */
.materia-card:hover {
    transform: translateY(-5px);
}

.card { 
    border-radius: 12px; 
}

canvas { 
    width: 100% !important; 
    max-height: 500px; 
}