
.materia-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.materia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.card { 
    border-radius: 12px; 
}

canvas { 
    width: 100% !important; 
    max-height: 500px; 
}