{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="auth-form">
    <h1>Accedi</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }} 

        {# crea la sezione per inserire lo username #}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <span class="text-danger small">{{ error }}</span>
            {% endfor %}
        </div>

        
        {# crea la sezione per inserire la password #}
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <span class="text-danger small">{{ error }}</span>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary w-100") }}
    </form>

    <p class="mt-3">Non hai un account? <a href="{{ url_for('auth.register') }}">Registrati</a></p>
</div>
{% endblock %}